
.pageContainer {
  background-color: transparent; 
  color: #ffffff;
  width: 100%;
  min-height: 100%;
  padding: 1rem 1.5rem;
  padding-bottom: 120px;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}
.horizontalScroll {
  display: flex;
  gap: 15px;
  overflow-x: auto; 
  padding-bottom: 10px;
  
  scrollbar-width: none; 
  -ms-overflow-style: none;

  cursor: grab; 
  user-select: none; 
}

.horizontalScroll::-webkit-scrollbar { 
  display: none; 
}

.horizontalScroll:active {
  cursor: grabbing;
}

.headerLogo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0px;
  margin-top: 10px;
  margin-bottom: 30px; 
}

.logoImage {
  width: clamp(150px, 40vw, 280px);
  height: auto; 
  object-fit: contain; 
  margin: 0;
  display: block;
}

/* --- SEÇÕES --- */
.section {
  margin-bottom: 2rem;
  width: 100%;
}

.sectionHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
  padding-right: 5px;
}

.sectionTitle {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.4rem;
  font-weight: 500;
  color: #ffffff;
}

.arrowIcon {
  font-size: 1.8rem;
  color: white;
  background-color: rgba(255, 255, 255, 0.1); 
  border-radius: 50%;
  padding: 2px;
  cursor: pointer;
  transition: background 0.2s;
}

.arrowIcon:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.horizontalScroll {
  display: flex;
  gap: 15px; 
  overflow-x: auto;
  padding-bottom: 10px; 
    scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; 
}

.horizontalScroll::-webkit-scrollbar { 
  display: none; /* Chrome/Safari */
}


.foodCard {

  min-width: 140px; 
  height: 200px;
  
  border-radius: 12px;
  overflow: hidden;
  flex-shrink: 0; 
  cursor: pointer;
  transition: transform 0.2s;
}

.foodCard:hover {
  transform: scale(1.03);
}

.cardImage {
  width: 100%;
  height: 100%;
  object-fit: cover; 
  display: block;
}


@media (max-width: 768px) {
  .foodCard {
    min-width: 180px;
    height: 260px;
  }
  
  .sectionTitle {
    font-size: 1.8rem;
  }


  .headerLogo {
    display: none;
  }
}